<div class="container">
    <div>
        <h1>Chat Coder</h1>
        <div id="caja"></div>
    </div>
    <div>
        <form onsubmit="return addmessage()">
            <div class="mb-3">
                <input type="text" class="form-control" id="username" placeholder="Tu nombre..">
                </div>
                <div class="mb-3">
                <textarea class="form-control" id="texto" rows="3" placeholder="Tu mensaje..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary mb-3" value="Enviar">
        </form>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>